@font-face {
  font-family: "iconfont"; /* Project id 2772870 */
  src: url('iconfont.woff2?t=1630075204685') format('woff2'),
       url('iconfont.woff?t=1630075204685') format('woff'),
       url('iconfont.ttf?t=1630075204685') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about:before {
  content: "\e602";
}

.icon-open:before {
  content: "\e614";
}

.icon-article:before {
  content: "\e625";
}

.icon-my:before {
  content: "\e600";
}

.icon-back:before {
  content: "\e629";
}

.icon-csdn:before {
  content: "\e601";
}

.icon-close:before {
  content: "\e603";
}

.icon-github:before {
  content: "\e604";
}

.icon-home:before {
  content: "\e605";
}

