.map-model-content {
    display: flex;
    overflow: hidden;
    .list {
        width: 30%;
        background: #fff;
        transition: width 0.3s ease;
    }
    .search-list {
        height: 400px;
        overflow: hidden;
        overflow-y: scroll;
    }
}