page,
input,
input {
    font-family: Arial, Verdana, Tahoma, 'Hiragino Sans GB', Microsoft YaHei, SimSun, sans-serif;
}

view,
image,
input,
button,
text,
form,
navigator {
    box-sizing: border-box;
}

page {
    color: #333333;
    font-size: 28rpx;
}

input {
    outline: none;
    -webkit-appearance: none;
}

button::after {
    border: none;
}

button {
    background-color: transparent;
}

// 定位 垂直居中(左边)
.plc {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

// 定位 垂直居中（右边）
.prc {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

// 清除浮动
.cf {
    &:after {
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        content: '';
    }
}

// css  垂直水平居中
.dc {
    display: flex;
    align-items: center;
    justify-content: center;
}

// 水平居中
.hc {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

// 垂直居中（左边）
.vc {
    display: flex;
    align-items: center;
}

// 垂直居中（右边）
.vrc {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

// 定位 底部
.blr {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

// 定位 上下居中 靠右
.prtbc {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.pla {
    color: #ccc;
    font-size: 28px;
}

// 1px
.px1 {
    position: relative;
    &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 1px;
        background: #eee;
        content: '';
        transform: translateY(0.5);
    }
}

// 1px-left
.px1left {
    position: relative;
    &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1px;
        background: #eee;
        content: '';
        transform: translateX(0.5);
    }
}

// 1px-top
.px1top {
    position: relative;
    &:after {
        position: absolute;
        top: 0;
        top: 0;
        left: 0;
        width: 1px;
        background: #eee;
        content: '';
        transform: translateX(0.5);
    }
}

// 1px-right
.px1right {
    position: relative;
    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1px;
        background: #eee;
        content: '';
        transform: translateX(0.5);
    }
}

// 一行省略号
.of1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//2行省略号
.of2 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -webkit-line-break: auto;
}

.clearfix {
    overflow: hidden;
}

.lg {
    background-image: linear-gradient(90deg, #4ebbaa, #6bc30d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}