    $color: #333;
    .login {
        height: 100vh;
        width: 100vw;
        background: url("../../assets/images/login.jpg") no-repeat center bottom;
        background-size: cover;
        .content {
            width: 500px;
        }
        .title {
            margin-bottom: 22px;
            color: $color;
            text-align: center;
            text-indent: 3px;
            letter-spacing: 3px;
            font-weight: bold;
            font-size: 30px;
            line-height: 50px;
        }
        .subtitle {
            position: relative;
            color: $color;
            text-align: center;
            text-indent: 1px;
            letter-spacing: 1px;
            font-weight: 600;
            font-size: 10px;
            &::after {
                position: absolute;
                top: 50%;
                left: 50px;
                display: block;
                width: 78px;
                height: 1px;
                background-color: $color;
                content: "";
            }
            &::before {
                position: absolute;
                top: 50%;
                right: 50px;
                display: block;
                width: 78px;
                height: 1px;
                background-color: $color;
                content: "";
            }
        }
        .login-box {
            box-sizing: border-box;
            margin-top: 30px;
            padding: 34px;
            height: 386px;
            border-radius: 8px;
            background-color: rgba(255, 255, 255, 0.4);
            .ipt {
                display: flex;
                margin-top: 30px;
                padding: 12px 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.8);
                .icon {
                    margin: 0 6px;
                    width: 26px;
                    height: 26px;
                }
                .input {
                    flex: auto;
                    margin-right: 15px;
                    padding: 0 20px;
                    border: 0;
                    background: transparent;
                    color: $color;
                    font-size: 18px;
                    line-height: 26px;
                    &.ant-input-affix-wrapper {
                        background: transparent!important;
                        border-color: transparent;
                        .ant-input.ant-input-sm {
                            background: transparent!important;
                            font-size: 18px;
                            color: #fff;
                        }
                    }
                    &:focus {
                        outline: 0;
                        border-color: transparent;
                    }
                    &::-webkit-input-placeholder {
                        color: rgba($color: #fff, $alpha: 0.8);
                    }
                    &:-moz-placeholder {
                        color: rgba($color: #fff, $alpha: 0.8);
                    }
                    &:-ms-input-placeholder {
                        color: rgba($color: #fff, $alpha: 0.8);
                    }
                }
            }
            .subbtn {
                margin-top: 80px;
                outline: none;
                border: 0;
                .el-button {
                    width: 100%;
                    border: 0;
                    background-color: $color;
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
        .subbtn {
            margin-top: 80px;
            outline: none;
            border: 0;
            .submit-btn {
                height: 40px;
                width: 100%;
                border: 0;
                background-color: #171346;
                color: #fff;
                font-size: 18px;
            }
        }
    }